<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DogKingdom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex">
        <label for="woofsearch">Woof search:</label>
        <input class="form-control me-2"
        type="search"
        autofocus
        #woofsearch
        placeholder="Press enter after type"
        aria-label="Search"
        (keyup.enter)="update($event)">
      </form>
    </div>
  </div>
</nav>
<div class="container topDiv">
    <div class="row">
      <div class="col-md-4 bg-light border-light">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
        <div class="carousel-inner">
          <div class="carousel-item active"
              *ngFor="let breed of (allBreeds$ | async)">
          <img [src]="breed" class="d-block w-100 h-150" alt="...">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
    <div class="col-md-4 bg-light border-dark" >
      <div>
          <div *ngFor="let newBreed of breedInfo$ | async">
            <h5 class="hero-title">{{newBreed.name | uppercase }}</h5>
            <p class="hero-subtitle"><b> {{newBreed.bred_for}} </b></p>
            <p><b>Life Span:</b> {{newBreed.life_span}}</p>
            <p><b>Temperament:</b> {{newBreed.temperament}}</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">

      </div>
    </div>
</div>


